* {
  box-sizing: border-box;
}

body {
  color: #2d3c49; /* set default text color */
}

#container {
  max-width: 960px;
  padding: 0 30px;
  margin: 0 auto;
}

#page-header {
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 5px solid #7d97ad;
  margin-bottom: 30px;
}

#udacity-logo {
  width: 80px;
}

#name, #title {
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

#featured-title {
  color: #7d97ad;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  flex: 1 0 260px;
  margin: 0;
  text-align: center;
}

.project-name {
  text-transform: uppercase;
  margin: 8px 0;
}

.project-source {
  margin-top: 0;
}

.project-source > a {
  text-decoration: none;
  color: #2d3c49;
}

/* landscape phone to portrait tablet */
@media (min-width: 544px) and (max-width: 767px) {
  .project {
    flex: 1 0 222px;
    margin: 0 15px;
  }

  .project:nth-child(2n) {
    margin-right: 0;
  }

  .project:nth-child(2n+1) {
    margin-left: 0;
  }
}

/* portrait tablet to landscape tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .project {
    flex: 1 0 320px;
    margin: 0 15px;
  }

  .project:nth-child(2n) {
    margin-right: 0;
  }

  .project:nth-child(2n+1) {
    margin-left: 0;
  }
}

/* landscape tablet to desktop */
@media (min-width: 992px) {
  .project {
    flex: 1 0 260px;
    margin: 0 15px;
  }

  .project:nth-child(3n) {
    margin-right: 0;
  }

  .project:nth-child(3n+1) {
    margin-left: 0;
  }
}