* {
  box-sizing: border-box;
}

#container {
  max-width: 960px;
  padding: 0 20px;
  margin: 0 auto;

  color: #2d3c49; /* set default text color */
  font-family: "Catamaran", sans-serif;
}

@media (min-width: 768px) {
  #container {
    padding: 0 30px;
  }
}

#page-header {
  margin: 20px 0;
  padding-bottom: 20px;

  border-bottom: 5px solid #7d97ad;

  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) {
  #page-header {
    margin: 30px 0;
    padding-bottom: 30px;
  }
}

#page-footer {
  margin: 20px 0;
  padding-top: 20px;

  border-top: 5px solid #7d97ad;
}

@media (min-width: 768px) {
  #page-footer {
    margin: 30px 0;
    padding-top: 30px;
  }
}

#udacity-logo {
  width: 40px;
  height: 40px;
}

@media (min-width: 544px) {
  #udacity-logo {
    width: 60px;
    height: 60px;
  }
}

@media (min-width: 768px) {
  #udacity-logo {
    width: 80px;
    height: 80px;
  }
}

#about-me {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

#name,
#title {
  margin: 0;
  text-transform: uppercase;
}

#name {
  font-size: 1.25em;
  font-weight: 300;
}

#title {
  font-size: 0.75em;
}

@media (min-width: 544px) {
  #name {
    font-size: 2em;
  }

  #title {
    font-size: 1em;
  }
}

@media (min-width: 768px) {
  #name {
    font-size: 3em;
  }

  #title {
    font-size: 1.25em;
  }
}

img {
  max-width: 100%;
}

#featured-title {
  margin-top: 30px;
  margin-bottom: 10px;

  padding-left: 10px;

  font-weight: 300;
  color: #7d97ad;
}

@media (min-width: 544px) {
  #featured-title {
    font-size: 1.5em;
  }
}

@media (min-width: 768px) {
  #featured-title {
    font-size: 2em;
  }
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  flex: 1 0 260px;
  margin: 0;
  text-align: center;
}

.project-name {
  text-transform: uppercase;
  margin: 8px 0;
}

.project-source {
  margin-top: 0;
}

.project-url {
  text-decoration: none;
  color: #2d3c49;
}

/* landscape phone to portrait tablet */
@media (min-width: 544px) and (max-width: 767px) {
  .project {
    flex: 1 0 230px;
    margin: 0 15px;
  }

  .project:nth-child(2n) {
    margin-right: 0;
  }

  .project:nth-child(2n+1) {
    margin-left: 0;
  }
}

/* portrait tablet to landscape tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .project {
    flex: 1 0 320px;
    margin: 0 15px;
  }

  .project:nth-child(2n) {
    margin-right: 0;
  }

  .project:nth-child(2n+1) {
    margin-left: 0;
  }
}

/* landscape tablet to desktop */
@media (min-width: 992px) {
  .project {
    flex: 1 0 260px;
    margin: 0 15px;
  }

  .project:nth-child(3n) {
    margin-right: 0;
  }

  .project:nth-child(3n+1) {
    margin-left: 0;
  }
}